@media screen and (min-width: 600px) {
    .about-section {
        margin: 5%;
    }

    .title {
        font-size: 5.5vh;
        color: white;
        font-family: 'Fira Code', Courier, monospace;
    }

    .title-box {
        background-color: #00c1c1;
        width: 8%;
        height: 1.5em;
        margin-top: -33px;
        margin-left: 5%;
    }

    .about {
        color: white;
        font-family: 'Courier New', Courier, monospace;
        width: 60%;
        font-size: 2.5vh;
        margin-top: 2%;
    }

    .about-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .about-image-container {
        width: 40%;
        animation: image-movement 5s ease-in-out infinite;
        display: flex;
        justify-content: center;
    }

    .about-image {
        height: 30vh;
    }

    @keyframes image-movement{
        0%, 100% { transform: translateY(0); }
        50% { transform: translateY(-10%); }
    }
}