.about-section {
    margin: 5%;
}

.title {
    font-size: 2.5rem;
    color: white;
    font-family: 'Fira Code', Courier, monospace;
}

.title-box {
    background-color: #00e0e0;
    width: 7%;
    height: 1rem;
    margin-top: -30px;
    margin-left: 3%;
}

.about {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    width: 40%;
    font-size: 1.1rem;
    margin-top: 2%;
}

.about-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}