.container {
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.header {
    font-size: 4rem;
    text-align: center;
    letter-spacing: -2px;
}

.header span {
    color: #777;
}

.subtitle {
    font-size: 1.2rem;
    line-height: 1.5;
}

.terminal-container {
    padding: 5rem;
    margin: auto;
}

.clear-block {
    display: flex;
    align-items: center;
    margin: auto;
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    background-color: rgb(49, 49, 49);
    flex-direction: column;
}

.terminal {
    background-color: white;
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
}
