@media screen and (min-width: 600px) {    
    .section {
        display: flex; 
        flex-direction: column;
        overflow: hidden;
        width: 100%;
        margin-bottom: 5%;
    }
    .mini-title {
        font-size: 4.5vh;
        color: white;
        font-family: 'Fira Code', Courier, monospace;
        margin-left: 5%;
    }
    .mini-box {
        background-color: #00c1c1;
        width: 10%;
        height: 1.5em;
        margin-top: -28px;
        margin-left: 10%;
    }
    .mini-cards {
        flex: 0 0 auto;
        width: 50%;
        height: 11rem;
        margin-right: 2%;
        background-color: white;
    }
    .card-info {
        background-color: rgba(0, 0, 0, 0.2);
        padding: 1%;
    }
    .mini-container-top {
        margin-top: 5%;
        display: flex;
        margin-bottom: 3rem;
        flex-direction: row;
        animation: moveLeft 20s linear infinite;
    }
    .mini-container-bottom {
        display: flex;
        flex-direction: row;
        animation: moveRight 20s linear infinite;
    }
    .mini-img {
        height: 8em;
    }
    .mini-container-bottom {
        display: flex;
        flex-direction: row;
    }

    @keyframes moveLeft {
        0% { transform: translateX(2%); }
        100% { transform: translateX(-100%); }
    }
      
    @keyframes moveRight {
        100% { transform: translateX(2%); } 
        0% { transform: translateX(-100%); }
    }
}