.skills-section {
    display: flex;
    flex-direction: column;
    color: white;
}

.skills-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.skill-img {
    margin-right: 1rem;
    height: 4em;
    width: 4.2em;
    border-radius: 15px;
    border: 2px solid blue;
    padding: 10%;
}
